body{
  font-family: monospace;
}

.container{
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title{
  text-align: center;
  color: darkslategray;
  font-size: 30px;
}

.content{
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #7fffd4;
}

.todo-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-form{
  display: flex;
  align-items: center;
}

.text-input{
  width: 300px;
  border: 2px solid #0026ff;
  outline: none;
  padding: 10px 15px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 18px;
}

.text-input::placeholder{
  font-size: 18px;
}

.button{
  background-color: red;
}

p{
  color: lightsalmon;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
}

button{
  padding: 10px 25px;
  background-color: #00ff37;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7fffd4;
  font-weight: 700;
}

.delete-todo{
  padding: 10px 25px;
  background-color: #ff0000;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}